@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@3;700&display=swap');
html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
header{
  position:sticky;
  top: 0;
  background: rgb(255, 255, 255);
  height: 66px; 
}
.bar{
  padding-left: 8px;
}
.left img{
  height: 25px;
  width: 25px;
}
.left {
  margin-left: 9px;
}
.container-header{
  padding: 0 10vw;
}
.container{
  padding: 0 8.5vw;
}
nav{
  font-size: 12px;
  padding-top: 14px;
  padding-left: 1.5px;
}
nav ul li{
  padding: 0 10px;
  list-style: none;
}
.right-side{
  display: flex;
  margin: 12px;
}

.mx-2{
  margin-left: 12px;
  margin-right: 12px;
}
.section1{
  background-color: #ffffff;
}
.home-img{
  width: 80vw;
  margin: 15px 0;
}
.offers{
  text-align: center;
  margin-top: -20px; 
  padding-bottom: 20px;
}
.item-img{
  width: 9vw;
  margin: 6px 12px;
}
.flex-wrap{
  flex-wrap: wrap;
}
footer h3{
  text-align: left;
  font-size: 12px;
}

@media (max-width:950px){
  nav{
    flex-direction: column;
    align-items: center;
  }
  header{
    height: 122px;
  }
  .container-header{
    padding: 0 2vw;
  }
  .right{
    flex-direction: column;
  }
  .right-side{
    display: flex;
    margin: 12px;
  }
}
@media (max-width:372px){
   .container{
    margin-right: 40px;
   }
}
